html {
  box-sizing: border-box;
  margin:0; 
  padding:0; 
}
*, *:before, *:after {
  box-sizing: inherit;
}
body {
    background-color: #E3C5B2;
    color: #373F47;
}

header, main {
	margin: 0 auto;
    max-width: 50rem;
}
.grid {
    display: flex;
    flex-wrap: wrap;
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: minmax(10rem,auto);
    grid-gap: 1rem
}

.card {
    display: flex;
    align-items: left;
    justify-content: left;
    min-height: 10rem;
    position: relative;
    margin-left: 1rem;
    margin-right: 1rem;
    flex: 1 1 10rem
}

@supports (display:grid) {
    .card {
        margin: 0
    }
}
.card:nth-child(1n) {
  background: #DB966C;
}
.card:nth-child(2n) {
  background: #CB7870;
}
.card:nth-child(3n) {
  background: #A67668;
}
.card:nth-child(4n) {
  background: #E6B77E;
}

.card:nth-child(5n + 1) {
  background: #CB7870;
}

.card:nth-child(6n + 1) {
  background: #CB7870;
}

.card:nth-child(7n +1) {
  background: #E6B77E;
}


.card:nth-child(4n + 1) {
  background: #E6B77E;
}
.card:nth-child(4n + 2) {
  background: #A67668;
}
.card:nth-child(4n + 3) {
  background: #CB7870;
}
.card:nth-child(4n + 4) {
  background: #DB966C;
}

.card {
  //min-height: 100%;
  background: #f1e2d8;
  -webkit-box-shadow: 0 0.75rem 1.5rem rgba(18, 38, 63, 0.03);
  box-shadow: 0 0.75rem 1.5rem rgba(18, 38, 63, 0.03);
  //display: flex;
  //flex-direction: column;
  text-decoration: none;
  //position: relative;
  //top: 0;
  color: inherit;
}

.card .thumb {
  padding-bottom: 60%;
  background-size: cover;
  background-position: center center;
}

.card a {
	text-decoration: none;
}

.card p { 
  font-size: 0.9rem;
}

.card h2 {
  font-size: 1.3rem;
  margin: 0;
}

.card time {
  font-size: 0.8rem;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: .05em;
}

.card .meta {
   padding: 2rem;
   display: flex;
  
  flex: 1;
  justify-content: space-between;
  flex-direction: column;
}

.tags-page {
		background: #F1E2D8;
	padding: 2rem 3rem;
	-webkit-box-shadow: 0 0.75rem 1.5rem rgba(18, 38, 63, 0.03);
  box-shadow: 0 0.75rem 1.5rem rgba(18, 38, 63, 0.03);
	

    .tags-intro {
        margin-bottom: 2rem;
        font-size: 1rem;
    }

    ul {
        list-style: none;
        padding: 0;
    }

    li {
        margin-bottom: 0.5rem;
    }

    a {
        text-decoration: none;
        color: inherit;
    }

	a:hover {
	    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg id='squiggle-link' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:ev='http://www.w3.org/2001/xml-events' viewBox='0 0 20 4'%3E%3Cstyle type='text/css'%3E.squiggle{animation:shift .3s linear infinite;}@keyframes shift {from {transform:translateX(0);}to {transform:translateX(-20px);}}%3C/style%3E%3Cpath fill='none' stroke='%23444444' stroke-width='2' class='squiggle' d='M0,3.5 c 5,0,5,-3,10,-3 s 5,3,10,3 c 5,0,5,-3,10,-3 s 5,3,10,3'/%3E%3C/svg%3E");
	    background-position: 0 100%;
	    background-size: auto 5px;
	    background-repeat: repeat-x;
	    text-decoration: none;
	    opacity: 0.8;
	}
}

.post {
	background: #F1E2D8;
	padding: 2rem 3rem;
	-webkit-box-shadow: 0 0.75rem 1.5rem rgba(18, 38, 63, 0.03);
  box-shadow: 0 0.75rem 1.5rem rgba(18, 38, 63, 0.03);
	color: #000000;

	h1, h2, h3, h4, h5, h6 {
		font-weight: 700;
	}
	
}

.card {
	transition: all 0.3s cubic-bezier(0.25, 0.45, 0.45, 0.95);
  &:hover {
    transform: scale(1.02);
  }
}
ul, ol {
	padding: 0;
	list-style-position: inside;
}

table {
    border-collapse: collapse;
    text-align: left;
    width: 100%;

    tr {
        border-bottom: 1px solid black;
    }

    td {
        padding: 0.5rem;
    }
}

/*img {
    width: 100%;
    margin: 0.5rem 0;
}*/

img {
    max-width: 200px;
    height: auto;
    padding: 10px;
    border-radius: 15px;
}

.wide-img {
    max-width: 100%;
    height: auto;
    padding: 10px;
    border-radius: 10px;
}

nav {
    ul {
        list-style: none !important;
        padding: 0;
        text-align: right;

        li {
            display: inline-block;
        }
    }
    a, a:visited {
        margin: 0.5rem;
        text-decoration: none;
	    text-transform: uppercase;
	    color: inherit;
	    font-size: 0.8rem;
	    font-weight: 500;
	    letter-spacing: .05em;
	    //opacity: 0.6;
    }
}

footer {
    margin: 1rem 0;
    text-align: center;
}

::selection {
    color: #fff;
    background-color: #b9a186;
}
