---
layout: default
title: Notes
---

<div class="introduction" style="margin-top: 40px; margin-bottom: 40px; padding: 20px;">
  <p>Welcome to my blog! Here you'll find notes, ideas, and reflections on a variety of topics. Enjoy exploring!</p>
</div>

<div class="grid">

  {% for post in site.posts %}

	{% if post.show_on_homepage != false %}
  
	    <article role="article" class="card">
		    <div class="meta">
	      <h2><a href="{{ site.baseurl }}{{ post.url }}">
	        {{ post.title }}
	      </a></h2>
	      <p>{{ post.summary }}</p>
	        <time class="date" datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%B %-d, %Y" }}</time> 
		    </div>
	  
	    </article>

	{% endif %}
    
  {% endfor %}

   </div>

