---
layout: default
---

<div class="introduction" style="padding: 20px;">
  <p>{{ page.intro | default: "Short thoughts on big ideas" }}</p>
</div>

<div class="grid grid--notes">

  {% assign sorted_notes = site.notes | sort: 'date' | reverse %}
  {% for note in sorted_notes %}
    <article role="article" class="card">
      <div class="meta">
        <h2><a href="{{ site.baseurl }}{{ note.url }}">
          {{ note.title }}
        </a></h2>
        {% if note.summary %}
        <p>{{ note.summary }}</p>
        {% endif %}
        <time class="date" datetime="{{ note.date | date_to_xmlschema }}">{{ note.date | date: "%B %-d, %Y" }}</time>
      </div>
    </article>
  {% endfor %}

</div>
