---
layout: default
---

<div class="introduction" style="padding: 20px;">
  <p>{{ page.intro | default: "Short thoughts on big ideas" }}</p>
</div>

<div class="grid grid--notes">

  {% assign sorted_notes = site.notes | sort: 'date' | reverse %}
  {% for note in sorted_notes %}
    <article role="article" class="card">
      <a class="card__link" href="{{ site.baseurl }}{{ note.url }}" aria-label="Open note: {{ note.title }}">
      <div class="meta">
        <h2>{{ note.title }}</h2>
        {% if note.summary %}
        <p>{{ note.summary }}</p>
        {% endif %}
        <time class="date" datetime="{{ note.date | date_to_xmlschema }}">{{ note.date | date: "%B %-d, %Y" }}</time>
      </div>
      </a>
    </article>
  {% endfor %}

</div>
