---
layout: default
---

<div class="posts-list-intro">
  <p>Commited to 1 post every 10 years</p>
</div>

<div class="grid">

  {% for post in site.posts %}

	{% if post.show_on_homepage != false %}
  
	    <article role="article" class="card">
		    <a class="card__link" href="{{ site.baseurl }}{{ post.url }}" aria-label="Open post: {{ post.title }}">
		    <div class="meta">
	      <h2>{{ post.title }}</h2>
	      <p>{{ post.summary }}</p>
	        <time class="date" datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%B %-d, %Y" }}</time> 
		    </div>
		    </a>
	    </article>

	{% endif %}
    
  {% endfor %}

   </div>
